
body {
  margin: auto;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: auto;
  background: linear-gradient(
    315deg,
    rgb(226, 146, 221) 3%,
    rgb(115, 147, 180) 38%,
    rgb(80, 167, 161) 68%,
    rgb(253, 144, 130) 98%
  );
  animation: gradient 25s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  color: #777a83;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}
